<footer>
    <div class="f-info">
        <div class="f-info-socials darkmode">
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
        <div class="f-info-brand darkmode"> &copy; Wanderlust Private Limited</div>
        <div class="f-info-links darkmode">
            <a href="/privacy" class="darkmode">Privacy</a>
            <a href="/terms" class="darkmode">Terms</a>
        </div>
    </div>
</footer>